.dashboard-container2 {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	background-image: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.75),
			rgba(0, 0, 0, 0.75)
		),
		url(../../img/fullHD/setup_1920.jpg);
	background-position: center center;
	background-size: cover;
	position: fixed;
	bottom: 0;
	z-index: 400;
	transform: translateY(100%);
	transition: all 0.5s ease-in;
	border-top: 2px solid #fff;
}

.showing {
	transform: translateY(0%);
}

.dashboard2 {
	width: 100%;
	margin: 0 auto;
}

.glareshield2 {
	width: 150px;
	height: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	border-bottom: none;
	border-radius: 2px;
}

.dashboard-data2 {
	height: 350px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	color: #fff;
}

.general-data2 {
	height: 350px;
	display: flex;
	gap: 2.5rem;
	align-items: center;
}

.aircraft-image {
}

.current-weather {
	font-family: 'Bebas';
	font-size: 1.5rem;
}

.current-airport-info {
	height: 350px;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
}

.current-airport-weather {
	height: 350px;
	align-self: flex-start;
	padding: 1rem;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
}
/* .fetch-history {
	font-family: 'Bebas';
	font-size: 1.5rem;
} */

.current-details {
	font-family: 'Bebas';
	font-size: 1.5rem;
}

.current-details-headline {
	font-family: 'Bebas';
	font-size: 2rem;
	text-decoration: underline;
}

.date-location {
	width: 130px;
}

.arrival-history {
	align-self: flex-start;
	height: 350px;
	overflow: auto;
	padding: 1rem;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
}

.arrivals {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.departure-history {
	align-self: flex-start;
	height: 350px;
	overflow: auto;
	padding: 1rem;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
}

.departures {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
