.dashboard-container {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	background-image: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8)
		),
		url(../../img/fullHD/dashboard_1920.jpg);
	background-position: center center;
	background-size: cover;
	position: fixed;
	bottom: 0;
	z-index: 400;
	transform: translateY(100%);
	transition: all 0.5s ease-in;
	border-top: 2px solid #fff;
}

.showing {
	transform: translateY(0%);
}

.dashboard {
	width: 100%;
	margin: 0 auto;
}

.glareshield {
	width: 150px;
	height: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	border-bottom: none;
	border-radius: 2px;
}

.dashboard-data {
	height: 250px;
	display: flex;
	color: #fff;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.general-data {
	height: 100%;
	width: 100%;
	display: flex;
	gap: 3rem;
	justify-content: center;
	align-items: center;
}

.aircraft-image {
	display: flex;
	flex-direction: column;
}

.aircraft-image img {
	height: 290px;
}

.aircraft-image p {
	margin-top: -1.5rem;
	margin-right: 1rem;
	align-self: flex-end;
	font-size: 0.8rem;
}

.aircraft-image a {
	color: #fff;
}

.follow-me {
	cursor: pointer;
	font-family: 'Bebas';
	font-size: 1.5rem;
	color: green;
}

.unfollow {
	cursor: pointer;
	font-family: 'Bebas';
	font-size: 1.5rem;
	color: red;
}

.current-position-info {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.current-aircraft-info {
	font-family: 'Bebas';
	font-size: 1.5rem;
}

.current-aircraft-headline {
	font-family: 'Bebas';
	font-size: 2rem;
}

.flight-history {
	height: 250px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	overflow: auto;
}

.fetch-history {
	cursor: pointer;
	font-family: 'Bebas';
	font-size: 1.5rem;
}

.flights {
	display: flex;
}

.date-location {
}

.location {
	cursor: pointer;
}
