.dashboard-container {
	width: 100%;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	background-image: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
		url(../../img/fullHD/dashboard_1920.jpg);
	background-position: center center;
	background-size: cover;
	position: fixed;
	bottom: 0;
	z-index: 400;
	transform: translateY(100%);
	transition: all 0.5s ease-in;
	border-top: 5px solid #000;
}

.showing {
	transform: translateY(0%);
}

.dashboard {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.glareshield {
	width: 150px;
	height: 50px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	border-bottom: none;
	border-radius: 2px;
	font-family: 'Bebas';
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	transform: translateY(450px);
	transition: all 0.5s ease-in;
	z-index: 0;
}

.dashboard-data {
	height: 350px;
	display: flex;
	color: #fff;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.general-data {
	height: 350px;
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	overflow: scroll;
}

.general-data a {
	text-decoration: none;
}

.first-row {
	margin-top: 300px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

.first-row-buttons {
	display: flex;
	gap: 0.5rem;
}

.first-row-buttons a {
	width: 50%;
}

.second-row {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1.5rem;
}

.armin-logo {
	width: 100%;
	font-size: 0.7rem;
	color: rgb(109, 109, 109);
	padding: 0.3rem;
	background-color: #1971c94d;
	border: 1px solid #1971c9;
}

.armin-logo img {
	width: 100%;
}

.aircraft-image {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.aircraft-image img {
	width: 100%;
}

.aircraft-image p {
	margin-top: -1.5rem;
	margin-right: 1rem;
	align-self: flex-end;
	font-size: 0.7rem;
}

.aircraft-image a {
	color: #fff;
}

.follow-mode {
	width: 50%;
	padding: 0.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: rgb(228, 186, 0);
	border-radius: 2px;
	border: 1px solid rgb(228, 186, 0);
	font-family: 'Bebas';
	font-size: 1.2rem;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 5px #000;
	letter-spacing: 0.2rem;
}

.unfollow {
	border: 1px solid rgb(184, 0, 0);
	animation: follow 5s infinite;
	color: #fff;
}

@keyframes follow {
	0% {
		background-color: rgb(102, 0, 0);
	}
	50% {
		background-color: rgb(184, 0, 0);
	}
}

.current-position-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 0.8rem;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 5px #000;
}

.current-aircraft-info {
	font-family: 'Bebas';
	font-size: 1.2rem;
}

.current-aircraft-headline {
	font-family: 'Bebas';
	font-size: 1.5rem;
	text-decoration: underline;
}

.flight-history-button {
	padding: 1rem;
	gap: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100%;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #fff;
	font-family: 'Bebas';
	font-size: 1.5rem;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 5px #000;
}

.flight-history {
	width: 100%;
	min-height: 200px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	overflow: auto;
	padding: 0.8rem;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 2px 2px 5px #000;
	text-align: center;
}

.fetch-history {
	cursor: pointer;
	font-family: 'Bebas';
	font-size: 1rem;
}

.flights {
	display: flex;
}

.location {
	cursor: pointer;
}

.controlls-container {
	display: flex;
	gap: 0.3rem;
	align-self: center;
}

.controlls {
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
	border-radius: 2px;
	font-size: 1rem;
	font-family: 'Bebas';
	box-shadow: 2px 2px 5px #000;
	cursor: pointer;
	margin-bottom: 5rem;
	margin-top: 2rem;
}

.minimize {
	background-color: green;
}

.close {
	background-color: red;
}

/*
##############	DESKTOP-VIEW	###########
*/

@media (min-width: 1200px) {
	.dashboard-container {
		height: 300px;
		border-top: 10px solid #000;
	}

	.dashboard-data {
		height: 270px;
		justify-self: center;
		align-self: center;
	}

	.general-data {
		height: 270px;
		width: 95%;
		gap: 3rem;
		flex-direction: row;
		overflow: hidden;
		align-items: center;
	}

	.first-row {
		width: 50%;
		margin-top: 0px;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-self: center;
		align-self: center;
	}

	.first-row-buttons {
		height: 250px;
		width: 200px;
		display: flex;
		gap: 1rem;
	}

	.second-row {
		width: 50%;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.armin-logo {
		display: flex;
		width: 250px;
		font-size: 0.8rem;
		padding: 1rem;
		transform: rotate(-90deg);
		margin-top: 88px;
		margin-left: -80px;
	}

	.armin-logo img {
		width: 150px;
	}

	.aircraft-image img {
		width: 400px;
	}

	.aircraft-image p {
		margin-top: -2.5rem;
	}

	.follow-mode {
		padding: 1rem;
		font-size: 2rem;
		letter-spacing: 0.5rem;
		transform: rotate(-180deg);
		writing-mode: vertical-lr;
	}

	.current-position-info {
		padding: 1rem;
		width: 50%;
	}

	.current-aircraft-info {
		font-size: 1.5rem;
	}

	.current-aircraft-headline {
		font-size: 2rem;
	}

	.flight-history-button {
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50%;
		cursor: pointer;
		color: #fff;
		border-radius: 2px;
		border: 1px solid #fff;
		font-family: 'Bebas';
		font-size: 1.5rem;
		background-color: rgba(0, 0, 0, 0.7);
		box-shadow: 2px 2px 5px #000;
	}

	.flight-history {
		padding: 1rem;
		width: 50%;
	}

	.fetch-history {
		font-size: 1.5rem;
	}

	.controlls-container {
		display: flex;
		gap: 0.5rem;
		align-self: flex-start;
	}

	.controlls {
		width: 2rem;
		padding: 0.5rem 0.7rem 0.5rem 0.7rem;
		font-size: 1.3rem;
		margin-bottom: 0rem;
	}
}
