.menu-container {
	position: fixed;
	right: 0;
	top: 0;
	width: 200px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 400;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #000;
}

.menu-item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
	font-family: 'Bebas';
	font-size: 1.1rem;
}

.toggle-airports {
	height: 40px;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
}

.toggle-windmap {
	height: 40px;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
}

.toggle-compass {
	height: 40px;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
}

.new-location {
	flex-direction: column;
}

.set-airport-form-menu {
	width: 100%;
}

.location-input {
	height: 40px;
	border: none;
}

.location-button {
	height: 40px;
	cursor: pointer;
}

.timer {
	color: #fff;
	font-family: 'Bebas';
	font-size: 1.5rem;
}
