.menu-container {
	position: fixed;
	right: 0;
	top: 0;
	width: 250px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 400;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.menu-item {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
}

.toggle-airports {
	height: 50px;
	cursor: pointer;
	color: #fff;
}

.new-location {
	flex-direction: column;
}

.set-airport-form-menu {
	width: 100%;
}

.location-input {
	height: 40px;
	border: none;
}

.location-button {
	height: 50px;
	cursor: pointer;
}
