* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Bebas';
	src: url(./fonts/BebasNeue-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url(./fonts/OpenSans-Regular.ttf);
	font-display: swap;
}

body {
	font-family: 'Open Sans';
}
